{% extends 'base.html' %}

{% block content %}
<div id="list-container">
    <h2>Finance Approval History</h2>

    <table id="finance-history">
        <thead>
            <tr>
                <th>Title</th>
                <th>Requested By</th>
                <th>Finance Approval Status</th>
                <th>Finance Approval Date</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            {% for q in quotations %}
            <tr>
                <td>
                    <form action="{% url 'quotation_details' q.qid %}" method="get">
                        <button class="btn-link-finance-history" id="btn-link-finance-history" type="submit">{{ q.title }}</button>
                    </form>
                </td>
                <td>{{ q.initiator }}</td>
                <td>{{ q.finance_status }}</td>
                <td>{{ q.finance_reviewed_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">You do not have any finance history available at the moment.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="#" onclick="history.go(-1)" class="btn-back">
        <button>Back</button>
    </a>
    
</div>
<script>
        window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>

{% endblock %}
