{% extends 'base.html' %}

{% block content %}
<div id="list-container">
    <h2>Final Approval Queue</h2>

    <table id="final-approve-queue">
        <thead>
            <tr>
                <th>Title</th>
                <th>Requested By</th>
                <th>Requested At</th>
                <th>Verified By</th>
                <th>Verified At</th>
                <th>Approved By</th>
                <th>Approved At</th>
            </tr>
        </thead>
        <tbody>
            {% for q in quotationList %}
            <tr>
                <td>
                    <form action="{% url 'final_approve' q.qid %}" method="get">
                        <button class="btn-link-final-approve-queue" id="btn-link-final-approve-queue" type="submit">{{ q.title|capfirst }}</button>
                    </form>
                </td>
                <td>{{ q.initiator|capfirst }}</td>
                <td>{{ q.date|date:"d-m-Y g:i a" }}</td>
                <td>{{ q.verifier|capfirst }}</td>
                <td>{{ q.verified_at|date:"d-m-Y g:i a" }}</td>
                <td>{{ q.approver|capfirst }}</td>
                <td>{{ q.approval_at|date:"d-m-Y g:i a" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">There are no quotations awaiting your approval at this time.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="#" onclick="history.go(-1)" class="btn-back">
        <button>Back</button>
    </a>
</div>


{% endblock %}
