{% extends 'base.html' %}

{% block content %}

<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
</div>
{% endfor %}
</div>

<div id="quotation-verify-approve">
    <h2>Purchase Requisition</h2>
    <p><strong>Quotation ID:</strong> {{ quotation.qid }}</p>
    <p><strong>Title:</strong> {{ quotation.title|capfirst }}</p>
    <p><strong>Date Created:</strong> {{ quotation.date|date:"d-m-Y g:i a" }}</p>
    <p><strong>Prepared by:</strong> {{ quotation.initiator.username|capfirst }}</p>
    <p><strong>Remarks:</strong> {{ quotation.remarks }}</p>

    {% if quotation.attachments.all %}
    <strong>Attachments:</strong>
    {% for attachment in quotation.attachments.all %}
    <p><a href="{{ attachment.file.url }}"><button>{{ attachment.filename }}</button></a></p>
    {% endfor %}
    {% endif %}

    <hr>

    <p><strong>Department:</strong> {{ quotation.department.name }} </p>
    <p><strong>Branch:</strong> {{ quotation.branch.name }} ({{ quotation.branch.code }})</p>
    <p><strong>Entity:</strong> {{ quotation.entity }}</p>
    <p><strong>Supplier:</strong> {{ quotation.supplier }}</p>
    <p><strong>Item:</strong> {{ quotation.item }}</p>
    <p><strong>Specification:</strong> {{ quotation.specification }}</p>
    <p><strong>Quantity:</strong> {{ quotation.quantity }}</p>
    <p><strong>Price:</strong> {{ quotation.price }}</p>
    <p><strong>Total Amount:</strong> {{ quotation.total_amount }}</p>
    <hr>

    <!-- Verify -->
    <p><strong>Verified by:</strong> {{ quotation.verifier.username|capfirst }}</p>
    <p><strong>Verification Status: {{ quotation.verify_status }}</strong></p>
    <p><strong>Date of Verification:</strong> {{ quotation.verified_at|date:"d-m-Y g:i a" }}</p>
    <P><strong>Verification Remarks:</strong> {{ quotation.verify_remarks }}</P>
    <hr>



    <form method="post">
        {% csrf_token %}
        <div class="select-wrapper">
            <label for="verify_status">Change Verification Status:</label>
            <select name="verify_status" id="verificationStatusDropdown">
                {% for choice_value, choice_label in quotation.STATUS_CHOICES_VERIFIER %}
                <option value="{{ choice_value }}" {% if choice_value == quotation.verify_status %}selected{% endif %}>
                    {{ choice_label|capfirst }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="select-wrapper" id="approverDiv" style="display: none;">
            <!-- Dropdown to select an approver -->
            <label for="approver">Select an Approver:</label>
            <select name="approver">
                <option value="null">None</option>
                {% for user in approver_list %}
                <option value="{{ user.username }}" {% if user == quotation.approver %}selected{% endif %}>
                    {{ user.username|capfirst }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div id="remarksDiv" style="display: none;">
            <label><strong>Remarks/Comments: </strong></label>
            <br>
            <textarea type="text" name="verify_remarks" id="remarks" maxlength="50"
                placeholder="Verification remarks..."></textarea>
            <span id="countdown">50/50</span>
            <button type="submit" class="save-button" id="submitForm">Update Status and Remarks</button>

        </div>

        <!-- <button type="submit" class="save-button" id="submitForm">Update Verification Status and Assign Approver</button> -->
    </form>

    <a href="#" onclick="history.go(-1)" class="btn-back">
        <button>Back to list</button>
    </a>
</div>

<script>
    const verificationDropdown = document.getElementById('verificationStatusDropdown');
    const approverDiv = document.getElementById('approverDiv');
    const remarksDiv = document.getElementById('remarksDiv');
    const remarksTextarea = document.getElementById('remarks');
    const countdownSpan = document.getElementById('countdown');

    function toggleDisplayBasedOnSelection() {
        if (verificationDropdown.value === "VERIFIED") {
            approverDiv.style.display = "block";
            remarksDiv.style.display = "block";
        } else if (verificationDropdown.value === "REJECTED") {
            approverDiv.style.display = "none";
            remarksDiv.style.display = "block";
        } else {
            approverDiv.style.display = "none";
            remarksDiv.style.display = "none";
        }
    }

    function updateCountdown() {
        const remaining = 50 - remarksTextarea.value.length;
        countdownSpan.innerText = `${remaining}/50`;
    }

    verificationDropdown.addEventListener('change', toggleDisplayBasedOnSelection);
    document.addEventListener('DOMContentLoaded', function () {
        toggleDisplayBasedOnSelection();  // Initial toggle on page load
        updateCountdown();  // Initial countdown on page load
    });

    remarksTextarea.addEventListener('input', updateCountdown);

    document.getElementById('submitForm').addEventListener('click', function (event) {
        var confirmation = confirm("Are you sure with the changes you made?");
        if (!confirmation) {
            event.preventDefault(); // This will prevent the form from being submitted
        }
    });
</script>

{% endblock %}